<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JavaScript : ajax avec vuejs</title>
  </head>
  <body>
    <div id="app">
      <input type="number" v-model="cpChoisi" />

      <select v-model="comChoisie">
        <option v-for="com in comCpChoisi">{{com.Commune}}</option>
      </select>

      <p>Vous habitez à {{comChoisie}} ({{cpChoisi}}) !</p>
    </div>
    <script src="../vue.global.prod.js"></script>
    <script src="ajax02c.js"></script>
  </body>
</html>
