<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
filtrage :<input type="text" v-model="filtre">
filtrage en tappant be => affichage des pays avec be devant dans la liste déroulante
si on prends al afficher les pays qui commencent par al ou qui contienne al

    <ul v-for="pays in listePaysTries">
        <li >{{pays.nomFrP}}</li>
    </ul>

</div>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="ajaxEx.js"></script>
</body>
</html>