<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="exerciceAlgo.css">
</head>
<body>

<div id="app">


    <div>
        Inscription
        nom: <input type="text" v-model="nomJoueur" :disabled="etat !== 'I'">
        <span v-for="c in operateurs">
            <!-- la selection de l'operateur est bind sur la valeur pour récupérer dans la liste -->
        <input type="checkbox" :value="c" v-model="operateursChoisis" :disabled="etat !== 'I'">
        {{c}}
        </span>
        <button @click="start" :disabled="etat !== 'I'">Démarrer</button>

    </div>
    <div>
        <h1>Jeux</h1>
        <p v-for="(calc,i) in calculs">
            {{calc.op1}} {{calc.operator}} {{calc.op2}} = <input type="number" v-model="calc.repJoueur">
            <button @click="nouveauCalcul" :disabled="etat !== 'J'" v-if="i===nbCalcul-1">Valider</button>
        </p>

    </div>
    <div>
        <h1>Résultat</h1>
        <p v-if="etat === 'R'">Vous avez {{nbRepOk}} sur {{nbCalcul}}</p>
        <button @click="nouvellePart" :disabled="etat !== 'R'">Nouvelle partie</button>
    </div>


</div>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="corExoTemps.js"></script>
</body>
</html>


