<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="exerciceAlgo.css">
</head>
<body>

<div id="app">
    <input type="text" v-model="nomNouveauPart" ref="txtNouvPart"/>
    <button @click="nouvelleInscription">inscription</button>
    Choose a value : <select v-model="operation">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">x</option>
    <option value="/">/</option>
</select>
    <div v-for="i in joueur">
        <div v-for="cal in i.calc">
                <input type="number" v-model="cal[0]"> {{operation}} <input type="number" v-model="cal[1]">
                =
                <input type="number" v-model="cal[2]"> <input type="submit" @click="addcalc()">
                <br>
            </div>
    </div>
    {{joueur}}
    {{joueur.bonneRep}}/ {{(joueur.length) - 1}}


</div>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="Exotemps.js"></script>
</body>
</html>


