<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>JavaScript : ex 05 : file d'attente</title>
</head>
<body>
<div id="app">
  <table>
      <tr v-if="showtirage">
          <th>Tirage :</th>
          <!-- on v-model l'index du n dans tirage pour que la modification ce répercute dans le tab initial  -->
          <th v-for="(n,i) in tirage"><input type="number" min="1" max="50" v-model="tirage[i]">
          </th>
      </tr>
      <tr v-for="gr in grids">
          <td >Grille : </td>
          <td v-for="(nb,i) in gr"><input type="number" min="1" max="50" v-model="gr[i]"  v-bind:style="{ 'background-color': isNbInGrid(gr[i],tirage) ? 'green' : 'white' }" :disabled="tirageaffi"  />  </td>
          <td v-if="tirageaffi">{{nbMatch(gr,tirage)}} bon numéros</td>
      </tr>
      {{grids}}
  </table>
    <button @click="ajouterGrille" :disabled="tirageaffi" >Ajouter grille</button>
    <button @click="(showtirage = !showtirage) && (tirageaffi = true)">Tirage</button>

</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="preexam1.js"></script>
</body>
</html>


