<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JavaScript : vuejs</title>
  </head>
  <body>
    <div id="app">
      <p>
        nom:
        <input type="text" v-model="nom" />
        <button @click="ajoutCandidat">ajouter</button>
      </p>

      Participants
      <ul>
        <li v-for="p in participants">{{"---" + p.toUpperCase() + "---"}}</li>
      </ul>

      <input type="checkbox" v-model="affParticipants" />
      Liste des participants:
      <span v-show="affParticipants && participants.length!=0">{{participants}}</span>
    </div>

    <script src="vue.global.prod.js"></script>
    <script src="vue04.js"></script>
  </body>
</html>
