<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JavaScript : vuejs</title>
  </head>
  <body>
    <div id="app">
      <table>
        <tr v-for="branche in Object.keys(cotes)">
          <td>{{branche}}</td>
          <td><input v-model="cotes[branche]" type="number" min="0" max="10" step="1" /></td>
          <td><span v-for="cpt in cotes[branche]"> *</span></td>
        </tr>
        <tr>
          <td>moyenne</td>
          <td>{{moyenne.toFixed(2)}}</td>
        </tr>
      </table>
    </div>
    <script src="vue.global.prod.js"></script>
    <script src="vue11b rappels 2.js"></script>
  </body>
</html>
