<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JavaScript : vuejs</title>
  </head>
  <body>
    <div id="app">
      <p>nom: <input type="text" v-model="nom" /> Bonjour {{nom}} !</p>
      <p>
        nom2: <input type="text" v-model="nom2" />
        <span v-if="nom2 != '' ">Bonjour {{nom2}} !</span>
      </p>
      <p>age: <input type="number" min="0" step="1" v-model="age" /></p>
      <p v-for="cpt in age">Bon anniversaire {{nom}} !</p>
      <button v-on:click="saluer">Saluer</button>
      <button @mouseover="saluer">Saluer</button>
      <p>
        texte:
        <input type="text" @keydown="afficherDown" @keyup="afficherUp" v-model="texte" />
      </p>
    </div>
    <script src="vue.global.prod.js"></script>
    <script src="vue10 rappels.js"></script>
  </body>
</html>
