<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
      .select-Pays {
        width: 80px;
      }
      .select-PersPays {
        width: 150px;
      }
      .select-PersSel {
        width: 200px;
      }
      td {
        vertical-align: top;
      }
    </style>
    <meta charset="UTF-8" />
    <title>JavaScript : ajax avec vuejs</title>
  </head>
  <body>
    <div id="app">
      <table>
        <tr>
          <th>country</th>
          <th>persons from {{paysChoisi}}</th>
          <th>selected persons ({{nbrPersSelectionnees}})</th>
        </tr>
        <tr>
          <td>
            <select @change="obtenirListePersPays" v-model="paysChoisi" class="select-Pays">
              <option v-for="pays in listePays" :value="pays">{{pays}}</option>
            </select>
          </td>
          <td>
            <select size="10" class="select-PersPays">
              <option v-for="pers in listePersPaysChoisi" :value="pers.idP" @dblclick="selectPers(pers.idP)">
                {{pers.nomP}}, {{pers.prenomP}}
              </option>
            </select>
          </td>
          <td>
            <select size="10" class="select-PersSel">
              <option v-for="pers in listePersSelectionnees" :value="pers.idP" @dblclick="deselectPers(pers.idP)">
                {{pers.nomP}}, {{pers.prenomP}} ({{pers.paysP}})
              </option>
            </select>
          </td>
        </tr>
      </table>
    </div>

    <script src="../vue.global.prod.js"></script>
    <script src="ajax04a.js"></script>
  </body>
</html>
