<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
      .select-Pays {
        width: 80px;
      }
      .select-PersPays {
        width: 150px;
      }
      .select-PersSel {
        width: 250px;
      }
      td {
        vertical-align: top;
      }
    </style>
    <meta charset="UTF-8" />
    <title>JavaScript : ajax avec vuejs</title>
  </head>
  <body>
    <div id="app">
      <h1>Compétition</h1>
      <div>
        <p>
          pays
          <select v-model="paysChoisi" class="select-Pays" :disabled="etat != 'AvantInscription'">
            <option v-for="pays in listePays" :value="pays">{{pays}}</option>
          </select>
        </p>
        <p>
          sexe
          <input type="radio" name="sexe" value="F" v-model="sexeChoisi" :disabled="etat != 'AvantInscription'" />
          Féminin
          <input type="radio" name="sexe" value="M" v-model="sexeChoisi" :disabled="etat != 'AvantInscription'" />
          Masculin
        </p>
        <p>
          <button @click="commencerInscription" :disabled="etat != 'AvantInscription'">
            Commencer les inscriptions
          </button>
        </p>
      </div>
      <div>
        <select size="10" class="select-PersPays">
          <option v-for="pers in listePersPaysSexeChoisi" :value="pers.idP" @dblclick="selectPers(pers.idP)">
            {{pers.nomP}}, {{pers.prenomP}}
          </option>
        </select>
        <select size="10" class="select-PersSel">
          <option v-for="pers in listePersSelectionnees" :value="pers.idP" @dblclick="deselectPers(pers.idP)">
            {{pers.nomP}}, {{pers.prenomP}} ({{pers.villeP}})
          </option>
        </select>
        <button @click="cloturerInscription" :disabled="etat != 'Inscription'">Cloturer les inscriptions</button>
      </div>
      <div></div>
    </div>

    <script src="../vue.global.prod.js"></script>
    <script src="ajax04b.js"></script>
  </body>
</html>
