<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vueJs</title>

</head>
<body>


<div id="app">
    <p> nom: <input type="text" v-model="nom"></p>
    <p> Bonjour {{nom}}</p>
    <p> {{loisirs}}</p>
    <ul>
        <li v-for="loisir in loisirs"> <!-- va permettre de parcourir les élements du tab loisirs-->
        {{loisir}}
    </li>
    </ul>

    <p>
        nouveau loisir: <input type="text" v-model.trim="nouveauLoisir"/>
        <button v-on:click="ajouterLoisir()">Ajouter</button> <!-- appel de la methode ajouter loisirs ,-->
    </p>

</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="vue03.js"></script>
</body>
</html>